@font-face {
    font-family: LobsterTwo;
    src: url("../assets/font/LobsterTwo-Regular.ttf") format("truetype"),
    url("../assets/font/LobsterTwo-Bold.ttf") format("truetype"),
    url("../assets/font/LobsterTwo-BoldItalic.ttf") format("truetype"),
    url("../assets/font/LobsterTwo-Italic.ttf") format("truetype");
}

body {
    font-family: LobsterTwo, serif;
    background-image: url("../assets/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
}

.edc-button {
    width: 170px;
    margin-top: 1rem;
    border-radius: 4px;
    border: 0;
    box-shadow: none;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    height: 64px;
    line-height: 1;
    padding-left: 1rem;
    padding-right: 2rem;
    position: fixed;
    text-align:right;
    text-decoration: none;
    white-space: nowrap;
    transition: box-shadow 150ms cubic-bezier(0.61, 1, 0.88, 1);
    background-color: #b9975b;
    font-family: LobsterTwo, serif;
}

.edc-button span {
    display: block;
    line-height: 1;
    font-size: 1rem;
}

.edc-button-icon {
    overflow: hidden;
    position: absolute;
    top: 40%;
    width: 24px;
}

.edc-muted-text {
    color: white;
    font-size: .75rem;
}

.edc-content {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    width: 1840px;
    height: 820px;
    top: 125px;
    left: 40px;
    border-radius: 5px;
}

.edc-footer-clock-date {
    position: fixed;
    bottom: 70px;
    left: 20px;
    color: rgba(255, 255, 255, 0.75);
    font-size: 30px;
}

.edc-footer-clock-hours {
    position: fixed;
    bottom: 10px;
    left: 20px;
    color: white;
    font-size: 50px;
}

.edc-footer-logo {
    position: fixed;
    bottom: 10px;
    right: 20px;
}

.edc-button-1 {
    left: 20px;
}

.edc-button-2 {
    right: 1220px;
}

.edc-button-3 {
    right: 1020px;
}

.edc-button-4 {
    right: 820px;
}

.edc-button-5 {
    right: 620px;
}

.edc-button-6 {
    right: 420px;
}

.edc-button-7 {
    right: 220px;
}

.edc-button-flag {
    right: 20px;
}

#scrolling { /* Carousel Frame */
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

li {
    float: left;
}